body {
	background-color: #b7b7b7;
}
h1 {
	color: #922226;
	font-family: serif;
	font-size: 50px;
	margin-left: 10px;
}
.important {
	color: #313570;
	font-size: 30px;
	font-family: serif;
}
